<?php
// Service Website URLs
$WEBSITE = "MYSITE.COM";
$DEMO_PATH = "RELATIVE/PATH/TO/THIS/DIRECTORY";
$BASE_URL = "https://$WEBSITE/$DEMO_PATH";
$BUY_URL = "https://$WEBSITE/$DEMO_PATH/buy";
$PREVIEW_URL = "https://$WEBSITE/$DEMO_PATH/previews";
$ARTICLES_URL = "https://$WEBSITE/$DEMO_PATH/articles";

// PaySwarm Authority consumer key and secret
$CONSUMER_KEY = 'YOUR_CONSUMER_KEY';
$CONSUMER_SECRET = 'YOUR_CONSUMER_SECRET';

// PaySwarm Authority URLs
$PAYSWARM_AUTHORITY = "dev.payswarm.com:19100";
$AUTHORIZE_URL = "https://$PAYSWARM_AUTHORITY/home/authorize";
$REQUEST_URL = "https://$PAYSWARM_AUTHORITY/api/3.2/oauth1/tokens/request";
$ACCESS_URL = "https://$PAYSWARM_AUTHORITY/api/3.2/oauth1/tokens";
$CONTRACTS_URL = "https://$PAYSWARM_AUTHORITY/api/3.2/oauth1/contracts";
?>
